  
  <nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Course</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    
      <li><a href="create">create</a></li>
      
      <li><a href="login">login</a></li>
      <li><a href="register">register</a></li>
    </ul>
  </div>
</nav>