{{> header}}
 <form action="/" method="POST" class="col s12">
 <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="title" class="autocomplete">
          <label for="autocomplete-input">Title</label>
        </div>
      </div>
    </div>
  </div>
 <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="description" class="autocomplete">
          <label for="autocomplete-input">Description</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="imageUrl" class="autocomplete">
          <label for="autocomplete-input">ImageUrl</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="duration" class="autocomplete">
          <label for="autocomplete-input">Duration</label>
        </div>
      </div>
    </div>
  </div>
  
        <div class="row">
            <input type="submit" value="Save" class="btn">
           
        </div>
</form>
  {{> footer}}


  