{{> header}}
<form action="/login" method="POST" class="col s12" id="login-form">
 <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="username" class="autocomplete">
          <label for="autocomplete-input">username</label>
        </div>
      </div>
    </div>
  </div>
 <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="password" id="password" class="autocomplete">
          <label for="autocomplete-input">password</label>
        </div>
      </div>
    </div>
  </div>
  
        <div class="row">
            <input type="submit" value="Save" class="btn">
           
        </div>
</form>
<script src="/js/login.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {{> footer}}