{{> header}}

 <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="username" class="autocomplete">
          <label for="autocomplete-input">username</label>
        </div>
      </div>
    </div>
  </div>
 <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="password" id="password" class="autocomplete">
          <label for="autocomplete-input">password</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="password" id="passwordConfirm" class="autocomplete">
          <label for="autocomplete-input">passwordConfirm</label>
        </div>
      </div>
    </div>
  </div>

  {{> footer}}